ul.cart-items
  li.cart-items__item.js-cart-item
    a.cart-items__img(href="#")
      +picture-png-webp("cart-item-1", 100, 110, "Стайлер Dyson Airwrap для разных типов длинных волос")
    .cart-items__description
      a.cart-items__title(href="#") Стайлер Dyson Airwrap для разных типов длинных волос
      .cart-items__controls
        .cart-items__quantity
          .quantity-block
            button.quantity-block__btn.quantity-block__btn--minus(type="button" title="Уменьшить количество") -
            label.visually-hidden(for="cart-item-1")
            input(type="text" value="1" name="cart-item-1" id="cart-item-1" data-min="1" data-max="999" title="Количество")
            button.quantity-block__btn.quantity-block__btn--plus(type="button" title="Увеличить количество") +
        .cart-items__cost
          span.cart-items__price <span>39 990</span> руб
    button.cart-items__btn.button-close.js-remove-btn(type="button" title="Удалить из корзины") Удалить

  li.cart-items__item.js-cart-item
    a.cart-items__img(href="#")
      +picture-png-webp("cart-item-2", 100, 110, "Стайлер Dyson HS01 Airwrap")
    .cart-items__description
      a.cart-items__title(href="#") Стайлер Dyson Airwrap для разных типов длинных волос
      .cart-items__controls
        .cart-items__quantity
          .quantity-block
            button.quantity-block__btn.quantity-block__btn--minus(type="button" title="Уменьшить количество") -
            label.visually-hidden(for="cart-item-1")
            input(type="text" value="1" name="cart-item-1" id="cart-item-2" data-min="1" data-max="999" title="Количество")
            button.quantity-block__btn.quantity-block__btn--plus(type="button" title="Увеличить количество") +
        .cart-items__cost
          span.cart-items__price <span>39 990</span> руб
    button.cart-items__btn.button-close.js-remove-btn(type="button" title="Удалить из корзины") Удалить

  li.cart-items__item.js-cart-item
    a.cart-items__img(href="#")
      +picture-png-webp("cart-item-1", 100, 110, "Стайлер Dyson HS01 Airwrap")
    .cart-items__description
      a.cart-items__title(href="#") Стайлер Dyson Airwrap для разных типов длинных волос
      .cart-items__controls
        .cart-items__quantity
          .quantity-block
            button.quantity-block__btn.quantity-block__btn--minus(type="button" title="Уменьшить количество") -
            label.visually-hidden(for="cart-item-1")
            input(type="text" value="2" name="cart-item-1" id="cart-item-3" data-min="1" data-max="999" title="Количество")
            button.quantity-block__btn.quantity-block__btn--plus(type="button" title="Увеличить количество") +
        .cart-items__cost
          span.cart-items__price <span>39 990</span> руб
    button.cart-items__btn.button-close.js-remove-btn(type="button" title="Удалить из корзины") Удалить
