.order-total
  table.order-total__table
    tr
      td.order-total__title Стоимость заказа
      td.order-total__price <span>159 960</span> руб
    tr
      td.order-total__title Стоимость доставки
      td.order-total__price <span>500</span> руб
    tr
      td.order-total__title Итого к оплате
      td.order-total__price <span>160 460</span> руб

  button.order-total__btn.btn.js-registration-btn(type="submit") Сделать заказ
