ul.nav-menu
  li.nav-menu__item
    a.nav-menu__link(href="#") Каталог
  li.nav-menu__item
    a.nav-menu__link(href="#") Регистрация продукта
  li.nav-menu__item
    a.nav-menu__link(href="#") Поддержка
  li.nav-menu__item
    a.nav-menu__link(href="#") Контакты
