$desktop: 1199px;
$laptop: 1023px;
$tablet: 991px;
$mobile: 767px;
$width-min: 320px;

$ft-mont-4: "Montserrat Regular", "Arial", sans-serif;
$ft-mont-5: "Montserrat Medium", "Arial", sans-serif;
$ft-mont-7: "Montserrat Bold", "Arial", sans-serif;
$ft-f: "Futura DemiC", "Arial", sans-serif;
$ft-mul-3: "Muller Light", "Arial", sans-serif;
$ft-mul-4: "Muller Regular", "Arial", sans-serif;
$ft-mul-5: "Muller Medium", "Arial", sans-serif;
$ft-mul-7: "Muller Bold", "Arial", sans-serif;
