.menu.js-menu
  .menu__wrapper
    ul.menu__list

      li.menu__item.js-submenu-item
        a.menu__link.js-submenu-btn(href="#")
          +svg("dryer", 68, 67)
          span.menu__title Фены

        ul.menu__submenu.submenu.js-submenu
          li.submenu__item
            a.submenu__link(href="#") Фен Dyson Supersonic для волос
          li.submenu__item
            a.submenu__link(href="#") Фен Dyson Supersonic для волос
          li.submenu__item
            a.submenu__link(href="#") Фен Dyson Supersonic для волос

      li.menu__item.js-submenu-item
        a.menu__link.js-submenu-btn(href="#")
          +svg("styler", 78, 77)
          span.menu__title Стайлеры

        ul.menu__submenu.submenu.js-submenu
          li.submenu__item
            a.submenu__link(href="#") Стайлер Dyson Airwrap для разных типов длинных волос
          li.submenu__item
            a.submenu__link(href="#") Стайлер Dyson Airwrap для разных типов длинных волос
          li.submenu__item
            a.submenu__link(href="#") Стайлер Dyson Airwrap для разных типов длинных волос
          li.submenu__item
            a.submenu__link(href="#") Стайлер Dyson Airwrap для разных типов длинных волос

      li.menu__item.js-submenu-item
        a.menu__link.js-submenu-btn(href="#")
          +svg("straighttener", 70, 71)
          span.menu__title Выпрямители

        ul.menu__submenu.submenu.js-submenu
          li.submenu__item
            a.submenu__link(href="#") Выпрямитель Dyson Airwrap для разных типов длинных волос
          li.submenu__item
            a.submenu__link(href="#") Выпрямитель Dyson Airwrap для разных типов длинных волос

      li.menu__item.js-submenu-item
        a.menu__link.js-submenu-btn(href="#")
          +svg("tower", 19, 85)
          span.menu__title Увлажнители

        ul.menu__submenu.submenu.js-submenu
          li.submenu__item
            a.submenu__link(href="#") Очиститель Dyson Pure Hot+Cool
          li.submenu__item
            a.submenu__link(href="#") Очиститель Dyson Pure Hot+Cool
          li.submenu__item
            a.submenu__link(href="#") Очиститель Dyson Pure Hot+Cool

