.advantages
  .container
    h2.visually-hidden Преимущества
    ul.advantages__list
      li.advantages__item
        +svg("check", 58, 58)
        p Доставка по Москве за&nbsp;2&nbsp;часа
      li.advantages__item
        +svg("check", 58, 58)
        p Доставка по России за&nbsp;2&nbsp;-&nbsp;3&nbsp;дня
      li.advantages__item
        +svg("check", 58, 58)
        p Гарантия на продукцию 2&nbsp;года
