.promo-banner
  +picture-jpg-webp("promo-banner", 1700, 700, "Dyson Corrale")
  .container
    .promo-banner__content
      a.promo-banner__category(href="#") Выпрямитель волос
      a.promo-banner__title(href="") Dyson Corrale
      p.promo-banner__advantages
        span Улучшенный способ укладки
        span В два раза меньше повреждений волос
      p.promo-banner__promotion Успей купить по&nbsp;выгодной&nbsp;цене!
      .promo-banner__buy
        span.promo-banner__price <span>39 990</span> руб
        a.promo-banner__detail.btn-detail(href="") Подробнее
