ul.promo-menu
  li.promo-menu__item
    a.promo-menu__link
      +svg("dryer", 101, 100)
      span.promo-menu__title Фены
  li.promo-menu__item.promo-menu__item--styler
    a.promo-menu__link
      +svg("styler", 115, 114)
      span.promo-menu__title Стайлеры
  li.promo-menu__item
    a.promo-menu__link.promo-menu__link
      +svg("straighttener", 105, 104)
      span.promo-menu__title Выпрямители
  li.promo-menu__item.promo-menu__item--tower
    a.promo-menu__link
      +svg("tower", 28, 126)
      span.promo-menu__title Увлажнители
