.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  max-width: 350px;
  min-height: 100%;

  &:hover &__btn,
  &:focus &__btn {
    background-color: #513280;
  }

  &--banner {
    position: relative;

    align-items: flex-end;

    max-width: 555px;
    width: 100%;
    padding: 9.6% 10.9% 2.7%;

    overflow: hidden;

    @media (max-width: $mobile) {
      flex-direction: row;
      flex-wrap: wrap;

      max-width: 100%;
      min-height: 185px;
      padding: 8.5% 4.1% 4.7% 42.4%;
    }
  }

  &__img {
    position: relative;

    width: 100%;
    padding-bottom: 85%;
    margin-bottom: 8px;

    overflow: hidden;

    img {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }


  &--banner &__img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }

  &__title {
    width: 100%;
    max-width: 285px;
    margin: 0 0 15px;
    padding: 0;
    min-height: 48px;

    @include ft-mul-3(17px, 24px, #525252);
    letter-spacing: 0.005em;
    text-align: center;
    text-decoration: none;

    @media (max-width: $mobile) {
      max-width: 143px;
      margin-bottom: 20px;

      font-size: 14px;
      line-height: 1.2;
    }

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  &--banner &__title {
    max-width: 225px;
    width: 100%;

    @include ft-mul-7(30px, 1.2, #fff);
    text-align: left;

    span {
      width: 100%;
    }

    @media (max-width: $mobile) {
      max-width: 100%;

      font-size: 24px;
      line-height: 1;
    }

    span {
      width: 100%;
      margin-top: 23px;
      @include ft-mul-3(16px, 1.13, #fff);

      @media (max-width: $mobile) {
        margin-top: 7px;

        font-size: 14px;
        line-height: 1.14;
      }
    }
  }

  &__price {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    max-width: 115px;
    width: 100%;
    margin-top: auto;
    padding: 20px 0;

    @include ft-mul-4(18px, 1.2, #3d3d3d);

    border-top: 1px solid #eee;

    @media (max-width: $mobile) {
      padding: 0;
      margin-bottom: 12px;

      border-top: none;
    }

    span {
      margin-right: 5px;
    }
  }

  &--banner &__price {
    justify-content: flex-start;
    align-items: flex-start;

    max-width: 225px;
    margin-bottom: 20px;

    color: #fff;

    border-top: none;

    @media (max-width: $mobile) {
      order: 2;

      width: auto;
      margin-bottom: 14px;
    }
  }

  &__btn {
    margin-bottom: 15px;
  }

  &--banner &__btn {
    margin-right: 25px;

    @media (max-width: $mobile) {
      align-self: flex-start;

      margin-top: auto;
      margin-bottom: 0;
    }
  }
}
