.cards {
  width: 100%;
  margin-bottom: 35px;

  @media (max-width: $mobile) {
    margin-bottom: 43px;
  }

  &__list {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__item {
    width: 33.33%;
    padding: 15px;

    @media (max-width: $mobile) {
      width: 50%;
      padding: 0 7.5px;
      margin-bottom: 30px;
    }

    &--mobile {
      display: none;

      @media (max-width: $mobile) {
        display: flex;
      }
    }

    &--mobile-hidden {
      @media (max-width: $mobile) {
        display: none;
      }
    }

    &--banner {
      order: 2;

      width: 50%;
      padding: 15px 0;

       @media (max-width: $mobile) {
        order: 0;

        width: 100%;
        padding: 0;
        margin-bottom: 30px;
      }

      &:nth-child(odd) {
        padding-left: 15px;

        @media (max-width: $mobile) {
         padding-left: 0;
        }
      }
    }
  }
  &__show {
    display: none;

    @media (max-width: $mobile) {
      display: flex;
      justify-content: center;
      align-items: flex-start;

      margin: 0 auto;
    }
  }
}
