.cards
  .container
    h2.title Каталог
  .container.container--hp.container--npm
    ul.cards__list
      li.cards__item.cards__item--banner
        +card-banner("card-banner-1", "Стайлер Dyson Airwrap <span> для разных типов длинных волос</span>")
      li.cards__item
        +card("card-1", "Очиститель Dyson Pure Hot+Cool")
      li.cards__item
        +card("card-2", "Фен Dyson Supersonic <span>для волос</span>")
      li.cards__item.cards__item--banner
        +card-banner("card-banner-2", "Фен Dyson Superosnic <span> для волос</span>")
      li.cards__item
        +card("card-3", "Стайлер Dyson Airwrap <span>для разных типов длинных волос</span>")
      li.cards__item.cards__item--mobile
        +card("card-2", "Фен Dyson Supersonic <span>для волос</span>")
