.product-description
  h2.product-description__title Коротко о товаре

  .product-description__table
    table.content-table
      tr
        td Количество насадок
        td 8
      tr
        td Для завивки волос
        td Да
      tr
        td Для выпрямления волос
        td Да
      tr
        td Температура нагрева
        td 90°С
      tr
        td Регулировка температуры
        td 3 режима
      tr
        td Потребляемая мощность
        td 1300 Вт

  a.product-description__title(href="#") Все характеристики




