.product-tabs.js-tabs
  .product-tabs__wrapper.container
      input.tab-btn-1(type="radio" name="tab-btn" id="tab-btn-1" checked)
      label(for="tab-btn-1" data-tabs="1") О товаре
      input.tab-btn-2(type="radio" name="tab-btn" id="tab-btn-2")
      label(for="tab-btn-2" data-tabs="2") Характеристики
      input.tab-btn-3(type="radio" name="tab-btn" id="tab-btn-3")
      label(for="tab-btn-3" data-tabs="3") Отзывы
      input.tab-btn-4(type="radio" name="tab-btn" id="tab-btn-4")
      label(for="tab-btn-4" data-tabs="4") Аксессуары

      .product-tabs__content.js-tabs-content.content-1(data-tabs="1")
        .content-text
          p  Благодаря сочетанию компактного, но мощного двигателя с цифровым управлением и прикладной аэродинамики, стайлер для укладки волос Dyson Airwrap, с помощью эффекта Коанда, позволяет одновременно укладывать и высушивать волосы, используя исключительно воздух, а не экстремально высокие температуры.
          p Это устройство содержит защитный термовыключатель без самовозврата, предотвращающий его перегрев. Если устройство выключится, отсоедините его от розетки электросети и дайте остыть.
          p Благодаря сочетанию компактного, но мощного двигателя с цифровым управлением и прикладной аэродинамики, стайлер для укладки волос Dyson Airwrap, с помощью эффекта Коанда, позволяет одновременно укладывать и высушивать волосы, используя исключительно воздух, а не экстремально высокие температуры.
          p Это устройство содержит защитный термовыключатель без самовозврата, предотвращающий его перегрев. Если устройство выключится, отсоедините его от розетки электросети и дайте остыть.

      .product-tabs__content.js-tabs-content.content-2(data-tabs="2")

        table.content-table
          caption Характеристики
          tr
            td Количество насадок
            td 8
          tr
            td Для завивки волос
            td Да
          tr
            td Для выпрямления волос
            td Да
          tr
            td Температура нагрева
            td 90°С
          tr
            td Регулировка температуры
            td 3 режима
          tr
            td Потребляемая мощность
            td 1300 Вт

        table.content-table
          caption Дополнительные характеристики
          tr
            td Обдув холодным воздухом
            td да
          tr
            td Ионизация
            td да
          tr
            td Система контроля температуры
            td да

        table.content-table
          caption Цвет и материал
          tr
            td Цвет
            td серый, фуксия
          tr
            td Материал корпуса
            td пластик
          tr
            td Материал чехла
            td экокожа

      .product-tabs__content.js-tabs-content.content-3(data-tabs="3")

        .content-text
          p  Благодаря сочетанию компактного, но мощного двигателя с цифровым управлением и прикладной аэродинамики, стайлер для укладки волос Dyson Airwrap, с помощью эффекта Коанда, позволяет одновременно укладывать и высушивать волосы, используя исключительно воздух, а не экстремально высокие температуры.
          p Это устройство содержит защитный термовыключатель без самовозврата, предотвращающий его перегрев. Если устройство выключится, отсоедините его от розетки электросети и дайте остыть.


      .product-tabs__content.js-tabs-content.content-4(data-tabs="4")

        table.content-table
          caption Насадки
          tr
            td Цилиндрические насадки 30-мм
            td 2
          tr
            td Цилиндрические насадки 40-мм
            td 2
          tr
            td Жесткая щетка для выпрямления волос
            td да
          tr
            td Мягкая щетка для выпрямления волос
            td да
          tr
            td Круглая щетка для создания объема
            td да
          tr
            td Насадка для сушки волос перед укладкой
            td да
