.product-gallery
  .product-gallery__thumbs
    ul.product-gallery__thumbs-list.swiper-wrapper
      li.product-gallery__thumbs-item.swiper-slide
        +picture-png-webp("product-small-1", 92, 92, "Slide")
      li.product-gallery__thumbs-item.swiper-slide
        +picture-png-webp("product-small-2", 92, 92, "Slide")
      li.product-gallery__thumbs-item.swiper-slide
        +picture-png-webp("product-small-3", 92, 92, "Slide")
      li.product-gallery__thumbs-item.swiper-slide
        +picture-png-webp("product-small-4", 92, 92, "Slide")
      li.product-gallery__thumbs-item.swiper-slide
        +picture-png-webp("product-small-1", 92, 92, "Slide")
      li.product-gallery__thumbs-item.swiper-slide
        +picture-png-webp("product-small-2", 92, 92, "Slide")

  .product-gallery__top
    ul.product-gallery__top-list.swiper-wrapper
      li.product-gallery__top-item.swiper-slide
        +picture-png-webp("product-big", 380, 380, "Slide")
      li.product-gallery__top-item.swiper-slide
        +picture-png-webp("product-big", 380, 380, "Slide")
      li.product-gallery__top-item.swiper-slide
        +picture-png-webp("product-big", 380, 380, "Slide")
      li.product-gallery__top-item.swiper-slide
        +picture-png-webp("product-big", 380, 380, "Slide")
      li.product-gallery__top-item.swiper-slide
        +picture-png-webp("product-big", 380, 380, "Slide")
      li.product-gallery__top-item.swiper-slide
        +picture-png-webp("product-big", 380, 380, "Slide")



  button.product-gallery__nav.product-gallery__nav--prev(type="button" title="Предыдущий слайд")
  button.product-gallery__nav.product-gallery__nav--next(type="button" title="Следующий слайд")
