.header {
  position: relative;
  z-index: 10;

  width: 100%;

  color: #403f3f;
  background-color: #fff;
  box-shadow: 0px 0px 29px 0px rgba(33,29,29,0.1);

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;

    max-width: 1660px;
    width: 100%;
    min-height: 99px;
    margin: 0 auto;
    padding: 0 3.3%;

    @media (max-width: $mobile) {
      position: relative;

      min-height: 110px;
      padding: 60px 13px 0;
    }
  }

  &__left {
    width: 815px;
    max-width: 60vw;
    min-height: 99px;
    margin-left: 1.8%;
    margin-top: 10px;

    @media (max-width: $desktop) {
      max-width: 65vw;
      margin-left: 0;
    }

    @media (max-width: $tablet) {
      max-width: 100%;
      width: 100%;
      padding-right: 9px;
    }

    @media (max-width: $mobile) {
      position: absolute;
      top: 0;
      left: 13px;

      width: 210px;
      margin-top: 23px;
      padding: 0;
    }
  }

  &__right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;

    @media (max-width: $tablet) {
      width: 100%;
      padding-left: 9px;
    }
  }

  &__phones {
    margin-top: 5px;

    @media (max-width: $tablet) {
      margin-right: auto;
    }

    @media (max-width: $mobile) {
      margin-left: 70px;
    }
  }

  &__cart {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    width: 40px;
    height: 40px;
    padding: 4px 0;
    margin: 0 21px;

    @include ft-fut-4(12px, 1.2, #523483);
    text-decoration: none;

    transition: all 0.3s linear;

    @media (max-width: $desktop) {
      margin: 0 0 0 5px;
    }

    @media (max-width: $mobile) {
      position: absolute;

      top: 20px;
      right: 20px;
    }

    &:hover,
    &:focus {
      padding: 13px 0;
      svg {
        transform: scale(1.7);
      }
    }

    svg {
      position: absolute;
      bottom: 6px;
      left: calc(50% - 11px);

      width: 22px;
      height: 22px;

      fill: #503181;

      transition: all 0.3s linear;
    }
  }

  &__search {
    margin-left: 5vw;

    @media (max-width: $desktop) {
      margin-left: 20px;
    }
  }
}
