.video {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  transition: all 0.3s ease;

  &:hover &__btn {
    opacity: 1;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    transition: all 0.3s ease;

    img {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;
    }
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    border: none;
  }

  &__btn {
    opacity: 0;

    @media (max-width: $tablet) {
      opacity: 1;
    }

    &:focus {
      opacity: 1;
    }
  }
}
