footer.footer
  .container
    .footer__content
      .footer__logo
        include ../logo/logo-light
      .footer__menu
        include ../nav-menu/nav-menu-light
      .footer__phones
        include ../phones/phones-light
      .footer__info
        p.footer__text Изображения и тексты принадлежат <a href="#">The Dyson-shops</a>
        p.footer__text Все фотоматериалы и тексты используются для демонстрации. Использование контента возможно только с разрешения <a href="#">www.dyson-shops.com</a>.
        p.footer__text 111524, город Москва, улица Электродная, дом 2 строение 29.
        p.footer__text ООО "Альфа Групп" ОГРН 1197746408925
