.blog
  .container
    h2.title Статьи
  .container.container--hp.blog__container
    ul.blog__list
      li.blog__item
        .blog__media
          +video("blog-1", "Станьте обладателем эксклюзивных товаров Dyson" )
        a.blog__title(href="#") Станьте обладателем эксклюзивных товаров Dyson
        p.blog__text Закажите консультацию по технологиям Dyson в удобном для вас формате. Теперь вам доступны наши новые сервисы: консультация по телефону, онлайн видео-демонстрация или персональная демонстрация продукта
      li.blog__item
        .blog__media
          +video("blog-2", "Зарегистрируйте свое устройство Dyson" )
        a.blog__title(href="#") Зарегистрируйте свое устройство Dyson
        p.blog__text Это позволит нам оперативно оказать вам помощь, в случае возникновения неполадок
      li.blog__item
        .blog__media
          +video("blog-3", "Станьте обладателем эксклюзивных товаров Dyson" )
        a.blog__title(href="#") Станьте обладателем эксклюзивных товаров Dyson
        p.blog__text Закажите консультацию по технологиям Dyson в удобном для вас формате. Теперь вам доступны наши новые сервисы: консультация по телефону, онлайн видео-демонстрация или персональная демонстрация продукта

    button.blog__btn.btn-detail(type="button") Показать еще
