h1 Dysons
ul
  li
    a(href="main.html") main.html - Главная
  li
    a(href="catalog.html") catalog.html - Каталог
  li
    a(href="product.html") product.html - Страница товара
  li
    a(href="cart.html") cart.html - Корзина
  li
    a(href="order.html") order.html - Оформление заказа
